{% load static lazysignup_tags %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>DecoLED</title>
    <link rel="stylesheet" href="/style.css" type="text/css"/>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Latest compiled and minified jQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- SockJS library -->
    <script src="https://cdn.jsdelivr.net/sockjs/1.0.1/sockjs.min.js"></script>
  </head>

  <body>
    <!-- Fixed navbar -->
        <nav id="header" class="navbar navbar-default">
            <div id="header-container" class="container navbar-container">
                <div class="navbar-header">
                    <a id="brand" class="navbar-brand" href="/">DecoLED</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                    {% if not user|is_lazy_user %}
                      <li><a href="/profile">Bienvenido, {{ user.get_username }}</a></li>
                    {% else %}
                      <li><a href="{% url 'usuarios:login' %}">Login</a>
                      <li>
                        <a href="#contact">Entrar con Facebook</a>
                      </li>
                    {% endif %}
                    </ul>
                </div><!-- /.nav-collapse -->
            </div><!-- /.container -->
        </nav><!-- /.navbar -->


    <div class="content">
        {% block content %}{% endblock %}
    </div>
    <div id="bottom">
        {% block bottom %}{% endblock %}
    </div>
    <script src="{% static 'usuarios/script.js' %}"></script>
  </body>
</html>
