{% extends 'new_base.html' %}
{% load static %}
{% block content %}
    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    <div class="container-fluid">
        <div class="row">
			<div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4" >
				<div>
				    <div class="panel-body" style="background-color: initial;">
						<form role="form">
							<fieldset>
                            {% for drink in drinks %}
                                <div class="form-group">
                                {% if drink.available %}
                                    <button type="button" id="{{ drink.id }}" class="btn btn-success btn-drink-toggle btn-block">
                                    {{ drink.name }}
                                    </button>
                                {% else %}
                                    <button type="button" id="{{ drink.id }}" class="btn btn-danger btn-drink-toggle btn-block">
                                    {{ drink.name }}
                                    </button>
	                            {% endif %}
							    </div>
                            {% endfor %}
							</fieldset>
                            {% if not drinks.count %}
                            <b>Parece que no hay tragos todavia.</b>
                            {% endif %}
					    </form>
					</div>
		        </div>
		    </div>
		</div>
    </div>
{% endblock %}

{% block bottom %}

 <script src="{% static 'usuarios/admin.js' %}"></script>
 <script>
     $('.navprofile').first().toggleClass('active');
     $('.navdrinks').first().toggleClass('active');
 </script>
{% endblock %}