{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-2">0</div>
        <div class="col-xs-4">
			<select id="drink_id" name="drink">
				{% for drink in drinks %}
					{% if forloop.first %}
						<option value="{{ drink.id }}" selected>{{ drink.name }}</option>
					{% else %}
						<option value="{{ drink.id }}">{{ drink.name }}</option>
					{% endif %}
				{% endfor %}
			</select>
		</div>
        <div class="col-xs-2">+</div>
        <div class="col-xs-2">-</div>
    </div>
</div>
<div class="btn-group">
    <a href="#" class="btn btn"><i class="icon icon-fast-backward"></i></a>
    <a href="#" class="btn btn"><i class="icon icon-backward"></i></a>
    <a href="#" class="btn btn"><i class="icon icon-stop"></i></a>
    <a href="#" class="btn btn"><i class="icon icon-play"></i></a>
    <a href="#" class="btn btn"><i class="icon icon-pause"></i></a>
    <a href="#" class="btn btn"><i class="icon icon-forward"></i></a>
    <a href="#" class="btn btn"><i class="icon icon-fast-forward"></i></a>
</div>
{% endblock %}
