{% extends 'new_base.html' %}
{% block content %}
    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    <div class="container-fluid">
        <div class="row">
			<div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-8 " >
				<div>

				    <div class="panel-body" style="background-color: inherit">
						<form role="form" method="post" id='form_login' action="{% url 'usuarios:login' %}">
							{% csrf_token %}
							<fieldset>
							    <div class="form-group">
							    	<label>Usuario:</label>
							        {{ form.username }}
							    </div>
							    <div class="form-group">
							    	<label>Contraseña:</label>
							        {{ form.password }}
							    </div>
                                <button class="btn btn-lg btn-success btn-block" type="submit" name="login"/>Login</button>
							</fieldset>
					    </form>
					</div>
		        </div>
		    </div>
		</div>
    </div>

{% endblock %}