{% extends "new_base.html" %}
{% load static lazysignup_tags %}
{% block content %}
{% csrf_token %}
{% for drink in drinks %}
<div class="row drink-row" id="drink_row_{{ drink.id }}">
  <div class="col-xs-2" id="drink_counter_{{ drink.id }}">0</div>
  <div class="col-xs-6">{{ drink.name }}</div>
  <div class="col-xs-2">
	  <button type="button" class="btn btn-primary btn-circle btn-up" id="drink_up_{{ drink.id }}">
        <i class="glyphicon glyphicon-chevron-up"></i>
      </button>
  </div>
  <div class="col-xs-2">
	  <button type="button" class="btn btn-primary btn-circle btn-down" id="drink_down_{{ drink.id }}">
        <i class="glyphicon glyphicon-chevron-down"></i>
      </button>
  </div>
</div>
{% endfor %}
<br>
{% if drinks %}
<div class="row">
    {% if not user|is_lazy_user or user.groups.all.count %}
        <div class="col-xs-10">
            <input type="text" class="form-control" value="{{ user.get_short_name }}">
        </div>
    {% else %}
        <div class="col-xs-10">
            <input type="text" class="form-control" placeholder="Nombre y Apellido">
        </div>
    {% endif %}
	<div class="col-xs-2">
		<button type="button" class="btn btn-success btn-circle btn-ok"><i class="fa fa-check"></i></button>
	</div>
</div>
{% else %}
<b>La barra se encuentra fuera de servicio hasta el proximo evento.<br>
Para mas información ingrese a nuestra <a style="color:blue" href="https://facebook.com/DecoLED13/">Fanpage</a>
</b>
{% endif %}

{% endblock %}
{% block bottom %}
<script src="{% static 'usuarios/script.js' %}"></script>
{% endblock %}
