{% load static lazysignup_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <meta property="api-url" content="{% url 'api:order-list' %}" />
    <title>DecoLED</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="{% static 'usuarios/cover.css' %}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
    <!-- Font Awesome Icons -->
    <script src="https://use.fontawesome.com/5439a08299.js"></script>
  </head>

  <body>

{% comment %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.10&appId=123718794978316";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
{% endcomment %}

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                  <i class="fa fa-bars" aria-hidden="true"></i>
                </button>
				<a href="{% url 'usuarios:index' %}">DecoLED</a>
			  </h3>



              <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right masthead-nav">
                  {% if not user|is_lazy_user or user.groups.all.count %}
                  <li class="navprofile active">
                    <a href="#">
                      Hola, {{ user.get_short_name }}
                    </a>


                  </li>
                  {% if user.is_staff %}
                  <li class="navorders">
                    <a  href="{% url 'usuarios:order_manager' %}"><span class="fa fa-calendar-minus-o"></span> Pedidos</a></li>
                  <li class="navdrinks">
                    <a href="{% url 'usuarios:drink_manager' %}"><span class="fa fa-glass" ></span> Tragos</a></li>
                  {% endif %}
                  <li>
                    <a href="{% url 'usuarios:logout' %}"><span class="fa fa-sign-out"></span> Salir</a></li>
                  {% else %}

                  <li class="active">
                    <div class="fb-login-button" data-max-rows="1" data-size="medium" data-button-type="login_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false"></div>
                    {# <!--<div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false"></div>--> #}
                  </li>

                  {% endif %}
                </ul>
              </div>
            </div>
          </div>

          <div class="inner cover">
            {% block content %}
            <h1 class="cover-heading">Default page.</h1>
            <p class="lead">
              We will put something interesting here soon :)
            </p>
            <p class="lead">
              <a href="#" class="btn btn-lg btn-default">I will do nothing.</a>
            </p>
            {% endblock %}
          </div>

          <div class="mastfoot">
            {% block bottom %}
            {% endblock %}
            {% block footer %}
            <div class="inner">
              <p>DecoLED 2017, Siguenos en <a href="https://facebook.com/DecoLED13/">Facebook</a>.</p>
			</div>
			{% endblock %}
      </div>

    </div>
  <script>
  window.drf = {
    csrfHeaderName: "X-CSRFTOKEN",
    csrfCookieName: "csrftoken"
  };
  </script>
  <script src="{% static 'rest_framework/js/csrf.js' %}"></script>

  </body>
</html>
