{% extends "new_base.html" %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-xs-6 col-sm-offset-2 col-sm-4">Nombre y Apellido</div>
    <div class="col-xs-4 col-sm-3">Acciones</div>
    <div class="col-xs-2 col-sm-1">
        <button type="button" class="btn btn-primary btn-circle" data-toggle="tooltip" id="btn-refresh">
            <i class="fa fa-refresh"></i>
        </button>
    </div>
</div>

{% for order in orders %}
<div class="row order-row" id="order_row_{{ order.id }}">
    <div class="col-xs-6 col-sm-offset-2 col-sm-5">{{ order.user.get_short_name }}</div>
    <div class="col-xs-2 col-sm-1">
        <button type="button" class="btn btn-success btn-circle btn-done" onclick="acceptOrderCallback(this)">
            <i class="glyphicon glyphicon-ok"></i>
        </button>
    </div>
    <div class="col-xs-2 col-sm-1">
        <button type="button" class="btn btn-danger btn-circle btn-cancel" onclick="cancelOrderCallback(this)">
            <i class="glyphicon glyphicon-remove"></i>
        </button>
    </div>
    <div class="col-xs-2 col-sm-1">
	    <button type="button" class="btn btn-primary btn-circle btn-details" data-toggle="collapse" data-target="#drink_details_{{ order.id }}">
            <i class="glyphicon glyphicon-plus"></i>
        </button>
    </div>
</div>

<div class="row collapse" id="drink_details_{{ order.id }}">
    {% if not order.rows.all %}
    <b>Este pedido no tiene renglones, favor de cancelarlo.</b>
    {% else %}
    <ul>
    {% for order_row in order.rows.all %}
        <li><b>{{ order_row.cantity }}</b> {{ order_row.drink.name }}</li>
    {% endfor %}
    </ul>
    {% endif %}
</div>
{% endfor %}

{% if not orders.count %}
<b class="no-orders">Parece que no hay pedidos todavia.</b>
{% endif %}

{% endblock %}

{% block bottom %}

<script src="{% static 'usuarios/admin.js' %}"></script>

{% endblock %}

{% block footer %}

<div class="inner">
    <p>Pedidos totales: 
        <span class="counter_span" style="color:white">{{ count }}</span>. 
        <a class="clean_database" style="color:red" href="#">Limpiar</a>
    </p>
</div>

{% endblock %}
