{% if status == 'pending' %}
<div class="panel panel-warning">
    <div class="panel-heading">
        <h3 class="panel-title">Su pedido esta siendo procesado</h3>
    </div>
    <div class="panel-body">
        <form role="form">
            <fieldset>
                <div class="form-group">
                    Su pedido se encuentra pendiente de ser procesado, por favor espere.<br>
                    Sera avisado cuando este se encuentre listo.
                </div>
            </fieldset>
        </form>
    </div>
    <div class="panel-footer">
        <button type="button" class="btn btn-primary btn-circle" data-toggle="tooltip" id="btn-refresh">
            <i class="fa fa-refresh"></i>
        </button>
    </div>
</div>
{% end %}

{% if status == 'cancelled' %}
<div class="panel panel-danger">
    <div class="panel-heading">
        <h3 class="panel-title">Su pedido ha sido cancelado</h3>
    </div>
    <div class="panel-body">
        Su pedido ha sido cancelado, por favor realice su pedido de nuevo.<br>
        Cualquier duda, consulte con el administrador.
    </div>
    <div class="panel-footer">
        <button type="button" class="btn btn-danger btn-circle btn-reload" onclick="location.reload()">
            <i class="glyphicon glyphicon-remove"></i>
        </button>
    </div>
</div>
{% end %}

{% if status == 'done' %}
<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">Pedido listo!</h3>
    </div>
    <div class="panel-body">
        Su pedido esta listo para ser retirado en la barra.<br>
        Muchas gracias por usar nuestro servicio.
    </div>
    <div class="panel-footer">
        <button type="button" class="btn btn-success btn-circle btn-reload" onclick="location.reload()">
            <i class="glyphicon glyphicon-ok"></i>
        </button>
    </div>
</div>
{% end %}